@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  color: var(--color-text-dark);
  background-color: var(--color-background); 
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-dark);
  margin-bottom: var(--spacing-sm);
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}